body {
	margin-top: 10px;
	background-image: url("background.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}

#heading{
	text-align: center;
  	font-family: "Momo Trust Display", sans-serif;
  	font-style: normal;
  	font-size: 40px;
	background-color: #FFFFE0;
	background-opacity: 90%;
	width: 60%;
	margin: auto;
	color: #2F4F4F;
	font-weight: bold;
	border-radius: 50px;
	margin-bottom: 20px;
	margin-top: 20px;
	border-style: inset;
}

#customerinformation{
	background: linear-gradient(#E0FFFF, #FFE4C4);
	width: 800px;
	height: 208px;
	display: flex;
	margin: auto;
	margin-top: 80px;
	border-style: outset;
	border-width: 10px;
	border-radius: 20px;
	border-color: #2F4F4F;
	margin-bottom: 80px;
}

.introduction{
	width: 300px;
	height: 200px;
	padding-left: 20px;
	padding-top: 15px;
	padding-right: 15px;
	font-family: "Momo Trust Display", sans-serif;
	font-size: 17px;
}

.customerinformationform{
	width: 500px;
	height: 200px;
}

#customerinformationtext{

	text-align: center;
  	font-family: "Momo Trust Display", sans-serif;
  	font-style: normal;
  	font-size: 20px;
  	background-color: green;
  	color: white;
  	margin-bottom: 20px;
}

.description{
	color: #8B4513;
	font-family: "Momo Trust Display", sans-serif;
	font-size: 23.5px;
	margin-right: 9px;
	font-weight: 10px;
}

#uname, #mobilenum, #emailadd{
	background-color: floralwhite;
	border-radius: 20px;
	border-style: solid;
	border-color: limegreen;
	height: 23px;
	opacity: 70%;
}

#partydetails{
	margin: auto;
	margin-bottom: 50px;
	width: 1000px;
	height: 900px;
	/* background-color: lightgray; */
	display: flex;
}

#numberofpeople{
	background-color: white;
	color: black;
	border-radius: 10px;
	border-style: solid;
	border-color: #191970;
	height: 30px;
	opacity: 70%;
	width: 55px;
	font-size: 20px;

}

#section1{
	/* background-color: lightgoldenrodyellow; */
	height: auto;
	width: 50%;

	font-family: "Momo Trust Display", sans-serif;
  	font-size: 37px;
  	color: #191970;
  	text-shadow: 0px 0px 5px white;
  	
  	-webkit-text-stroke: 2px white;
}

#section2{
	/* background-color: lightgreen; */
	height: auto;
	width: 50%;

	font-family: "Momo Trust Display", sans-serif;
  	font-size: 37px;
  	color: #191970;
  	text-shadow: 0px 0px 5px white;
  	
  	-webkit-text-stroke: 2px white;
}

.deliverydetails{
	width: 70%;
	margin: auto;
	height: 600px;
	margin-bottom: 50px;
}

#venueaddresstext {
	width: 90%;
	margin: auto;
	height: 300px;
	margin-left: 5%;
	margin-right: 5%;
}

#deliverydetailsheading{
	font-size: 50px;
	font-family: "Momo Trust Display", sans-serif;

	color: indianred;
  	text-shadow: 5px 5px 10px #191970;
  	
  	-webkit-text-stroke: 2px white;
}


#venueaddress{
	font-size: 40px;
	color: white;
  	-webkit-text-stroke: 2px black;

  	font-family: "Momo Trust Display", sans-serif;
	margin-left: 35%;
  	margin-right: 35%;
}

#venueaddresstext {
	border-radius: 50px;
	background-color: lightgray;
	border: 5px outset #191970;
	font-size: 25px;
	padding: 10px;
	width: 90%;
	margin-bottom: 30px;
}


.dateandtimetext{
	font-size: 40px;
	font-family: "Momo Trust Display", sans-serif;
	color: #228B22;
	font-weight: bold;
	-webkit-text-stroke: 1px white;
	margin-bottom: 20px;
}

#partydate, #partytime{
	background-color: floralwhite;
	border-radius: 20px;
	border-style: solid;
	border-color: #191970;
	border-radius: 10px;
	height: 30px;
	opacity: 70%;
	width: 100px;
	margin-left: 20px;
}


.button{
	width: 200px;
	height: 70px;
	border-radius: 10px;
	background-color: #191970;
	margin-bottom: 10px;
	font-family:   	font-family: "Momo Trust Display", sans-serif;
	font-size: 30px;
	text-align: center;
	color: white;
	border-style: solid;
}

#buttonsholder{
	text-align: center;
}

.button:hover{
	background-color: #90EE90;
	color: #191970;
}


#reference{
	margin-top: 50px;
	font-size: 20px;
	color: white;
	text-align: center;
	font-style: italic;
}



/*
Background image source:
https://www.freepik.com/free-photo/blur-coffee-cafe-shop-restaurant-with-bokeh-background-xd_1235557.htm#fromView=keyword&page=1&position=1&uuid=2f2f2fe5-eba3-4fc3-b46d-43df51b03fe7&query=Restaurant+background
*/
